@import './variables';
@import './mixins';

.panel-data {
    min-height: 50vh;
    max-height: 50vh;

    min-width: 100vw;
    max-width: 100vw;

    @include flex-row;
    @include flex-evenly-center;

    .panel-data-today {

        min-width: 40vw;
        max-width: 40vw;

        .card-today {
            height: 25vh;

            background-color: $white-card-back;
            border-radius: 20px;

            max-width: 400px;
            margin: auto;

            @include flex-row;
            @include flex-evenly-center;

            .sol-date {
                height: 50%;

                @include flex-column;
                @include flex-center;
            }

            .sol-info {
                height: 50%;

                @include flex-column;
                @include flex-center-start;
            }

            .sol-info::before {
                content: '';
                display: block;
                position:absolute;
                left:-10%;
                width: 5px;
                height: 100%;
                background-color: $light-blue;
            }
        }
    }

    .panel-data-before {

        min-width: 60vw;
        max-width: 60vw;

        @include flex-row;
        @include flex-evenly-center;

        .card-before {

            height: 15vh;

            background-color: $white-card-back;
            border-radius: 20px;

            min-width: 200px;

            @include flex-column;
            @include flex-evenly-center;

            .sol-date {
                height: 50%;

                @include flex-column;
                @include flex-center;
            }

            .sol-info {
                height: 50%;

                @include flex-column;
                @include flex-center;
            }

            .sol-info::before {
                content: '';
                display: block;
                position:absolute;
                top:0;
                height: 5px;
                width: 100%;
                background-color: $light-blue;
            }
        }
    }
}

.alert {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    p {
        width: fit-content;
        margin: 1rem auto;

        padding: 1rem 1.5rem;
        border-radius: 10px;

        background-color: red;

        font-weight: $font-w-bold;
        color: $white;
    }
}