// COLORS
$black: #000;
$white: #fff;
$light-blue: #9bdaf1;
$alpha-black: #0000001a;
$night-sky: #231c28;
$light-grey: #a2958b;

// FONT
$font-fam: "Montserrat",Helvetica,Arial,sans-serif;

$font-w-small: 300;
$font-w-medium: 500;
$font-w-bold: 700;